<div class="row" *ngIf="route" >
  <!-- Routenname bearbeiten-->
  <div class="col-sm-6" id="routeErstellenLinks">
    <form>
      <div class="form-group">
        <h4>Routenname</h4>
        <input type="text" class="form-control" id="inputRoutenName" aria-describedby="routenName" [(ngModel)]="route.name">
        <small id="routenNameHelp" class="form-text text-muted">Am Besten Sie geben der Route einen eindeutigen Namen.</small>
      </div>
      <div class="margin-top">
        <button type="submit" class="btn btn-primary" id="neueRouteErstellen" routerLink="/createfragen" (click)="finishWithOk()">Erstellen</button>
        <button type="button" class="btn btn-secondary" id="neueRouteAbbrechen" routerLink="/routen" (click)="finishWithCancel()">Abbrechen</button>
      </div>
    </form>
  </div>
  <div class="col-sm-6">
    <div id="map" class="map"></div>
  </div>
</div>
